<mat-toolbar>
    <span>SUGGESTED TOPICS AND USERS</span>
</mat-toolbar>

    <!-- <h2>{{}} Follower/Following Page!</h2> -->
    <mat-card class="my-card"> 
      <h2>Here are your suggestions</h2> 
       
        <table style="width:25%">
        <div class="container">

          <div style="float: left; width: 200px;">
            <tr>
              <th>Topics</th>
            </tr>
            <tr *ngFor="let topic of topics">
              <a routerLink="/topic/{{topic[1]}}">{{topic[1]}}</a>              
            </tr>
          </div>

          <div style="float: left; width: 100px;">
            <tr>
                <th>Users</th>
            </tr>

            <tr *ngFor="let user of users">
              <a routerLink="/profile/{{user[1]}}">{{user[1]}}</a>              
            </tr>
          </div>
        </div>  
        </table>
    </mat-card>
    