#title {
    font-size: 35px;
}

#title_2 {
    font-size: 15px;
}

#block {
    background-color: rgb(11, 116, 177);
}

#text {
    color: rgb(163, 255, 202);;
}

#padding {
    height: 50px;
}

#user {
    padding-top: 30px;
}

#block {
    color: white;
    background-color: rgb(75, 173, 230);
}