

    <!-- <h2>{{}} Follower/Following Page!</h2> -->
    <mat-card id="block" class="my-card" *ngIf= "topics && users && !(topics.length == 0 && users.length == 0)"> 
      <p id="title">SUGGESTED TOPICS AND USERS</p>
      
      <h2 id="title_2">here are your suggestions</h2> 
       
        <table style="width:25%">
        <div class="container">

          <div style="float: left; width: 200px;">
            <tr>
              <th>Topics</th>
            </tr>
            <tr *ngFor="let topic of topics">
              <a id="text" routerLink="/topic/{{topic[1]}}">{{topic[1]}}</a>              
            </tr>
          </div>

      

          <div id="users" style="float: left; width: 100px;">
            <tr>
                <th>Users</th>
            </tr>

            <tr *ngFor="let user of users">
              <a id="text" routerLink="/profile/{{user[1]}}">{{user[1]}}</a>              
            </tr>
          </div>
        </div>  
        </table>
      </mat-card>

    <mat-card class="my-card" *ngIf= "topics && users && topics.length == 0 && users.length == 0"><h2>You do not have any suggestions. Please begin making posts and following users for new suggestions.</h2></mat-card>
    