<div *ngIf=topics class="center">


  <mat-card id="main_block" class="my-card">

    <p id="title">TRENDING TOPICS</p>

     <h2>{{ title }}</h2>
     
     <table style="width:100%">
       <tr>

         <th>Topic Name</th>
         <!-- <th>Popularity Rank</th>
    <th>Trending?</th>
    <th>Stock?</th> -->
         
       </tr>
       <ol>

         <tr *ngFor="let topic of topics">
         <li>
           <a id="text" routerLink="/topic/{{topic.TopicName}}">{{topic.TopicName}}</a>


         </li>
         <!-- <td>{{topic.popularity}}</td>




  <td *ngIf="topic.is_trending">🔥</td>
  <td *ngIf="!topic.is_trending">❌</td> -->
         <!-- <td *ngIf="topic.is_stock;">💲</td>
  <td *ngIf="!topic.is_stock;">❌</td> -->
         </tr>


       </ol>
     </table>
  </mat-card>

</div>
