
<mat-card id="make_post" class="my-card">
  <mat-card-content>

    <p id="title" >make a new post!</p>

    <!-- CONTENT HERE -->
    <form class="my-form">
      <!--FORM FIELDS HERE-->
      <p>Upload a pic! (optional)</p>
      <form action="/action_page.php">
        <input type="file" (change)="uploadPostPic($event)" id="myFile" name="filename">
      </form>
    </form>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>topic</mat-label>
        <input id="search" placeholder="choose a topic"  type="text" name="topic" [(ngModel)]="this.new_post.TopicName">
        <div *ngIf="showDropDown" class="state-container-dropdown">
          <div>
            <div (click)="selectValue(t)" class='state' *ngFor='let topic of topics'>

              <!--<a routerLink="/topic/{{topic.TopicName}}">{{topic.TopicName}}</a>-->
              {{topic.TopicName}}

            </div>
          </div>
        </div>
      </mat-form-field>
      <input id="text" placeholder="say something! (optional) " name="text" type="text" (keydown)="onKeydown($event)" [(ngModel)]="this.new_post.Post">

    </form>

  </mat-card-content>

  <img id="post_pic" *ngIf="this.pic_upload" [src]=this.postPhotoPath height="160px;" width="160px;">
  

  <mat-card-actions id="bottom_buttons">
    <!-- SIGN UP BUTTON -->
   
      <button mat-raised-button (click)="submitPost()" color="buttons">post</button>
      <button mat-raised-button (click)="directProfile()" color="buttons">cancel</button>
  </mat-card-actions>

</mat-card>
