h2 {
    font-weight: 500;
    margin-left:100px;
    font-size: 16px;
}

button{
    color: fff;
    background-color: blue;
    position: relative;
    margin: auto;
    text-align: center;
    display: block;
}