

<div class="profile-page">


  <mat-card id="profile_block" class="my-card">
    <a class="a" mat-raised-button routerLink="/followers/{{currProfile}}" color="theme_color">See {{ currProfile }}'s followers and the Users/Topics they follow!</a><br>
    <a id="f_buttons" class="a" *ngIf="following && getIsDone && !isUser && this.globals.isAuthenticated" mat-raised-button color="primary" (click)="unfollowButton()">Unfollow</a>
    <a id="f_buttons" class="a" *ngIf="!following && getIsDone && !isUser && this.globals.isAuthenticated" mat-raised-button color="primary" (click)="followButton()">Follow</a>
    <mat-card-content>
      <!--<img class="profile" src = {{profile.ProfileImage}}>
    <p>Image src {{profile.ProfileImage}}</p>-->
      <mat-label id="username" class="profile-info">{{this.profile.Username}} </mat-label>
      <div>
        <img *ngIf="this.isVerified" id="verified_check" [src]=this.verifiedPath height="45px;" width="30px;">
      </div>
      <img id="profile_pic" [src]=this.profilePhotoPath height="120px;" width="120px;">
      <p *ngIf="this.isAdmin" id="admin">admin</p>
      
      <mat-label id="bio" class="profile-info">{{this.profile.Bio}}</mat-label>
    </mat-card-content>
    <button *ngIf="this.showSettings()" (click)="routeMakePost()" style="float:left;" mat-raised-button color="buttons">make a new post!</button>
    <button *ngIf="this.isAdmin" (click)="verify()" style="float:right;" mat-raised-button color="buttons">manage verification</button>
    <button *ngIf="this.showSettings()" routerLink="{{this.settingsURL}}" style="float:right;" mat-raised-button color="buttons">profile settings</button>
    
    <!-- <a mat-raised-button routerLink="/followers/{{currProfile}}" color="primary">See {{ currProfile }}'s followers and the Users/Topics they follow!</a> -->

  </mat-card>


  <div id="profile_block_2">
    <h2>posts uploaded by {{ currProfile }}</h2>

    <h2 id=post_number *ngIf="postCount != -1">{{ postCount }} post(s)</h2>
  </div>

  <div *ngFor="let Post of Posts">

    <app-post [Post]="Post"></app-post>

  </div>
  


</div>
