.profile {
    width: 10%;
    display: block;
}

.profile-info {
    display: block;
    margin: auto;
}

.my-card {
    width: 50%;
    margin: auto;
}

.a {
    margin-bottom: 10px;
}

.mat-buttons {
    background-color:rgb(79, 165, 115);
    color: #fff;
    font-size: 13px;
}

#verify_button {
    font-size: 10px;  
}

#profile_block {
    width: 70%;
    text-align: center;
    background-color: rgb(224, 224, 224);
    color: rgb(1, 59, 36);
    padding-bottom: 55px;

}

#verified_check {
    padding-bottom: 10px;
}

#profile_block_2 {
    color: rgb(1, 59, 36);
    padding-top: 25px;
    text-align: center;
    
}

#profile_pic {
    border-radius: 20%;
    border: 3px solid rgb(79, 165, 115);
}

.mat-theme_color {
    background-color:  rgb(79, 165, 115);
}

#post_number {
    font-size: 15px;
}

#bio {
    padding-top: 10px;
    font-size: 15px;
}

#username {
    font-size: 35px;
}