<div class="profile-page">
  <a mat-raised-button routerLink="/followers/{{currProfile}}" color="primary">See {{ currProfile }}'s followers and the Users/Topics they follow!</a>
  <br>
  

  <a *ngIf="following && getIsDone && !isUser" mat-raised-button color="primary" (click)="unfollowButton()">Unfollow</a>
  <a *ngIf="!following && getIsDone && !isUser" mat-raised-button color="primary" (click)="followButton()">Follow</a>
  <a *ngIf = "isUser">Welcome to your Profile!</a>


  <mat-toolbar>
    {{this.profile.Username}}'s profile
  </mat-toolbar>

  <mat-card class="my-card">
    <mat-card-content>
      <!--<img class="profile" src = {{profile.ProfileImage}}>
    <p>Image src {{profile.ProfileImage}}</p>-->
      <img [src]=this.profilePhotoPath height="100px;" width="100px;">
      <mat-label class="profile-info">Username: {{this.profile.Username}} </mat-label>
      <mat-label class="profile-info">Bio: {{this.profile.Bio}}</mat-label>
    </mat-card-content>
    <button *ngIf="this.showSettings()" (click)="routeMakePost()" mat-raised-button color="primary">Make a post!</button>
    <button *ngIf="this.showSettings()" routerLink="{{this.settingsURL}}" mat-raised-button color="primary">Edit Profile</button>
    <!-- <a mat-raised-button routerLink="/followers/{{currProfile}}" color="primary">See {{ currProfile }}'s followers and the Users/Topics they follow!</a> -->

    <table style="width:100%">

      <tr>

        <th>Posts</th>

      </tr>

      <tr *ngFor="let post of posts">
        <img [src]=this.profilePhotoPath height="100px;" width="100px;">
        <a routerLink="/topic/{{post.Post}}">{{post.Post}}</a>
      </tr>
    </table>
  </mat-card>

 

</div>
