

<div id="post" class="bubble">

  <a style="font-size:20px; color:blue" routerLink="/profile/{{ Post.Username }}">@{{Post.Username}}</a>
  <br>

  <a style="font-size:20px; color:blue" routerLink="/topic/{{ Post.TopicName }}">#{{Post.TopicName}}</a>

  <h2>{{ Post.PostDate }}</h2>

  <img id=post_pic *ngIf="this.post_pic" [src]=this.Post.PostImage height="200px;" width="200px;">

  <p>{{ Post.Post }}</p>
  <button *ngIf="saved && getIsDone" mat-raised-button color="primary" (click)="unsaveButton()">Unsave Post</button>
  <button *ngIf="!saved && getIsDone" mat-raised-button color="primary" (click)="saveButton()">Save Post</button>

  <!-- Shows a light green and light red button when user has not voted with text prompting them to Upvote/Downvote -->
  <a *ngIf="!upvoted && !downvoted">
  <button (click)="upvote()" mat-raised-button color="light_green">Upvote</button>
  <button (click)="downvote()" mat-raised-button color="light_red">Downvote</button>
  </a>

  <!-- User has already upvoted so show "Upvoted" text in the Bubble with a darker green background -->
  <a *ngIf="upvoted && !downvoted">
    <button (click)="deletevote()" mat-raised-button color="green">Upvoted</button> <!-- User already upvoted, but clicked upvote again, we should delete the vote (aka updo unvote) -->
    <button (click)="downvote()" mat-raised-button color="light_red">Downvote</button>
  </a>

  <!-- User has already downvoted so show "Downvoted" text in the Bubble with a darker red background -->
  <a *ngIf="!upvoted && downvoted">
    <button (click)="upvote()" mat-raised-button color="light_green">Upvote</button>
    <button (click)="deletevote()" mat-raised-button color="red">Downvoted</button> <!-- User already downvoted, but clicked downvote again, we should delete the vote (aka undo downvote) -->
  </a>

  <!-- <div> Upvotes: {{ Post.Upvotes }} <br> Downvotes: {{ Post.Downvotes }}</div> -->
    <div> Votes: {{ this.totalVotes }}</div>
  <a style="font-size:10px; color:black" routerLink="/post/{{Post.PostId}}">Visit Post</a>
</div>


<hr>

<!-- <app-comment *ngFor="let comment of comments">
</app-comment> -->
