.bubble {
    position:relative;
    background:#F5F5F5;
    padding:25px;
    color:#200;
    border-radius: 5px;
    margin-bottom:10px;
    margin-left:20px;
    margin-right:10px;
    margin-top:20px;
    text-align: center;
    width: 55%;
    margin: auto;
}

#post_pic {
    border-radius: 5%;
    border: 2px solid rgb(79, 165, 115);
}
  

h1 {
    font-weight: 500;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 22px;
}

h2 {
    font-weight: 400;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 18px;
}

p {
    font-size: 16px;
}

button{
    margin-right: 1vw;
    color: white;
    font-size: 12px;
    line-height: 18px;
    height: auto;
    width: auto;
}

.mat-green {
    background-color: green;
    color: #fff;
}

.mat-red {
    background-color: red;
    color: #fff;
}

.mat-light_green {
    background-color: rgb(135, 245, 135);
    color: #fff;
}

.mat-light_red {
    background-color: rgb(250, 146, 146);
    color: #fff;
}

#post {
    border-radius: 10%;
    border: 3px solid rgb(79, 165, 115);

}



