.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }

  #signup_block {
    margin: auto;
    width: 45%;
    text-emphasis-color: black;
    background-color:  rgb(79, 165, 115);
    color: white;
  }

.mat-primary {
  color: black;
}

#signup {
  background-color: rgb(79, 165, 115);
  color: white;
}

#welcome {
  font-size: 25px;
  text-align: center;
}