.mybutton {
    margin-right : 15px;
    margin-bottom : 30px;
}

#title {
    font-size: 35px;
}

#buttons {
    background-color:  rgb(79, 165, 115);
}

#background {
    background-color: rgb(43, 92, 63);
    
}

#text {
    color: rgb(164, 252, 211);
}