#settings {
    margin: auto;
    width: 60%;
    background-color: white;
    color: black;
}

.mat-buttons {
    background-color: rgb(79, 165, 115);
}

.mat-buttons_v {
    background-color: rgb(6, 186, 241);
}

#settings_title {
    font-size: 20px;
    text-align: center;
  }