<div id="block" *ngIf=following>
    <!-- <h2>{{}} Follower/Following Page!</h2> -->
    <mat-card class="my-card"> 
      <h2>Followers/Following Page for {{ url_username }}</h2> 
       
         <table style="width:25%">
          <div class="container">

          <div style="float: left; width: 200px;">
            <tr>
              <th>Followers</th>
            </tr>
            <tr *ngFor="let follower of followers">
              <a id="text" routerLink="/profile/{{follower[0]}}">{{follower[0]}}</a>              
            </tr>
          </div>

          <div style="float: left; width: 100px;">
            <tr>
                <th>Following</th>
            </tr>

            <tr *ngFor="let follow of following">
              <a id="text" routerLink="/profile/{{follow[1]}}">{{follow[1]}}</a>              
            </tr>
          </div>

          <div style="float: left; width: 200px; margin-left : 30px">
            <tr>
                <th>Following Topics</th>
            </tr>
  
            <tr *ngFor="let topic of topics">
              <a id="text" routerLink="/topic/{{topic[1]}}">{{topic[1]}}</a>              
            </tr>
          </div>
          </div>
            
        </table>


    </mat-card>
    
</div>
    