

<body id="background" ng-init="reload()">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    <span><a id="title" href="/">$tockTalk</a></span>
    <span class="spacer"></span>


    <a mat-button *ngIf="this.globals.isAuthenticated" (click)="directHome()">home</a>
    <a mat-button routerLink="alltopics">topics</a>
    <a mat-button routerLink="trendingtopics">trending</a>
    


     
     <a mat-button (click)="directSuggestions()" *ngIf="this.globals.isAuthenticated">suggested topics & users</a>
     <a mat-button (click)="directSavedPosts()" *ngIf="this.globals.isAuthenticated">saved posts</a>
    <a mat-button *ngIf="!this.globals.isAuthenticated" routerLink="signup">signup</a>
    <a mat-button *ngIf="!this.globals.isAuthenticated" routerLink="login">login</a>

    <a mat-button (click)="directProfile()" *ngIf="this.globals.isAuthenticated">my profile</a>
    <a mat-button (click)="logout()" *ngIf="this.globals.isAuthenticated">logout</a>

    <!-- <a mat-button (click)="test()">Test</a> -->

    <!-- <div *ngIf= !currentUsername>
   <a mat-button routerLink="delete-user">Delete Account</a>
   <a mat-button>Log Out</a>
  </div -->

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
</body>
