
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/">StockTalk</a></span>
     <span class="spacer"></span>
     <a mat-button routerLink="alltopics">Topics</a>
     <span class="spacer"></span>
     
     <div *ngIf= !globalsVar.currentUsername>
      <a mat-button routerLink="signup">Signup</a>
      <a mat-button routerLink="login">Login</a>
    </div>

     <div *ngIf= globalsVar.currentUsername>
      <a mat-button routerLink="profile">My Profile</a>
      <a mat-button routerLink="delete-user">Delete Account</a>
      <a mat-button>Log Out</a>
     </div>
  
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>